ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
li.icon {
  display:inline !important;
  position: relative;
  margin-right: 2px;
  margin-left: 2px;
}
li > img {
  display:inline;
}
