<div class="sidebar">
  <div class="container sidebar-sticky">
    <img src="{{ site.baseurl }}images/profile.jpg" style="width:75%;margin:auto;">
    <div class="sidebar-about">
      <h2>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h2>
      <p class="lead" style="margin:0">Programming Wizard</p>
      <p class="lead" style="font-size:100%;font-weight:bold;">(or at least something like that)</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
    <footer style="margin-bottom: 10px">
			<ul class="icons" >
				<li><a href="http://twitter.com/TheAustinSeven" class="icon"><img src="/public/svg/white/twitter.svg" style="width:15%"></a></li>
        <li><a href="https://www.linkedin.com/in/austinhorning" class="icon"><img src="/public/svg/white/linkedin.svg" style="width:15%"></a></li>
				<li><a href="https://www.coinbase.com/checkouts/af0878ebbd28bb33a53f55c811812fae" class="icon"><img src="/public/svg/white/bitcoin.svg" style="width:15%"></a></li>
				<li><a href="http://github.com/TheAustinSeven" class="icon"><img src="/public/svg/white/github.svg" style="width:15%"></a></li>
				<li><a href="mailto:austinseven@outlook.com" class="icon"><img src="/public/svg/white/envelope.svg" style="width:15%"></a></li>
			</ul>
		</footer>
  </div>
</div>
